@model IEnumerable<WithYou.Web.Data.Entities.Investigation>

@{
    ViewData["Title"] = "Investigaciones";
}

<h2>Introducir Investigacion</h2>

<p>
    <a asp-action="Create" class="btn btn-primary"><samp class="glyphicon glyphicon-plus"></samp></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepublicState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepublicState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
